{% extends "base.html" %}

{% block content %}

<div id="contactpage" class="pages" >
    <div class="contactcontainer" >
        <div class="contactformcontainer" >
            <form action="/contactauth/" method="post">
                {% csrf_token %}
                <div class="letsgetstartedlabel">LET'S GET STARTED ON YOUR PROJECT!</div>
                {% block contactValidation %}

                {% endblock %}
                <br>
                <input type=text class="formfields" placeholder="Name" name="name">
                <br><br>
                <input type=email class="formfields" placeholder="Email" name="from_email">
                <br><br>
                <textarea type=text placeholder="Tell Us About Your Project" name="message"></textarea>
                <br><br>
                <input type="hidden" value="" id="num1setup" name="num1setup">
                <input type="hidden" value="" id="num2setup" name="num2setup">
                <input class="submit" type=submit value="Send">
            </form>
        </div>
    </div>
    <div class="contactimage" ></div>
</div>

{% endblock content %}